<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Form Tambah</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form Tambah</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Data Saya</ion-label>
    </ion-list-header>

    <div class="ion-padding">
      <ion-input type="text" label="Nama" label-placement="floating" fill="outline" [value]=""></ion-input>
      <br>
      <ion-input type="text" label="Alamat" label-placement="floating" fill="outline" [value]=""></ion-input>
      <br>
      <ion-input type="text" label="Hobi" label-placement="floating" fill="outline" [value]=""></ion-input>
      <br>
      <ion-input type="text" label="No Telepon" label-placement="floating" fill="outline" [value]=""></ion-input>
    </div>
  </ion-list>
  <div class="ion-padding ion-text-center">
    <ion-button shape="round" expand="block" id="present-alert">
      Simpan
    </ion-button>
  </div>

  <ion-alert trigger="present-alert" header="Konfirmasi" message="Apakah Anda yakin ingin menyimpan data?"
    [buttons]="alertButtons"></ion-alert>
</ion-content>